{% comment %}
    Loops though every collection you defined in _config.yml and grabs the pages they contain; outputting titles.
{%  endcomment %}
<ul>
  {% assign collections = site.collections | where_exp:'article', 'article.label != "posts"' %}
  {% for collection in collections %}
  <li>
    <span>{{collection.label}}</span>
    <ul>
      {% for article in site[collection.label] %}
      <li>
        <a href="{{article.url}}">{{article.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>